In [1]:
from linear_regression import StockLinearRegression
from data_prep import DataPrep

In [2]:
data_prep = DataPrep()

In [3]:
df = data_prep.load_raw_data(laptop=True)
df = data_prep.prep_raw_data(df=df)
df = data_prep.calc_rsi(df=df)

In [4]:
#testing
stock_linear_regression = StockLinearRegression()

In [5]:
test = stock_linear_regression.creating_n_day_dfs(df=df, n = 12)

In [6]:
test[-111]

           date   close
1148 2017-08-30  163.35
1149 2017-08-31  164.00
1150 2017-09-01  164.05
1151 2017-09-05  162.08
1152 2017-09-06  161.91
1153 2017-09-07  161.26
1154 2017-09-08  158.63
1155 2017-09-11  161.50
1156 2017-09-12  160.86
1157 2017-09-13  159.65
1158 2017-09-14  158.28
1159 2017-09-15  159.88

In [7]:
coef_data = stock_linear_regression.create_coef_data(df=df, days = [3,5,7,9,12])

In [8]:
coef_data

,3_day_linear_regression,5_day_linear_regression,7_day_linear_regression,9_day_linear_regression,12_day_linear_regression
0,-1.621528e-15,-2.893278e-15,-2.890940e-15,-3.840604e-15,-3.189469e-15
1,-1.068171e-14,-6.754398e-15,-4.094597e-15,-3.986210e-15,-3.144606e-15
2,-1.083333e-15,-2.020881e-15,-3.732728e-15,-3.348107e-15,-2.718238e-15
3,-5.662616e-15,-3.388579e-15,-3.510552e-15,-2.856460e-15,-3.000359e-15
4,-1.578952e-15,-4.032956e-15,-3.395052e-15,-2.575032e-15,-3.455574e-15
...,...,...,...,...,...
1254,-2.869925e-14,-1.064037e-14,-1.064037e-14,-1.064037e-14,-1.064037e-14
1255,2.061075e-15,5.042989e-16,5.042989e-16,5.042989e-16,5.042989e-16
1256,1.765046e-14,1.765046e-14,1.765046e-14,1.765046e-14,1.765046e-14
1257,-4.039352e-14,-4.039352e-14,-4.039352e-14,-4.039352e-14,-4.039352e-14
1258,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00

In [9]:
training_data = data_prep.prep_training_data(coef_df=coef_data, stock_df=df)

In [10]:
training_data

,3_day_linear_regression,5_day_linear_regression,7_day_linear_regression,9_day_linear_regression,12_day_linear_regression,normalized_value,volume,RSI,target
0,-1.621528e-15,-2.893278e-15,-2.890940e-15,-3.840604e-15,-3.189469e-15,-0.016545,158168416,NaN,0
1,-1.068171e-14,-6.754398e-15,-4.094597e-15,-3.986210e-15,-3.144606e-15,-0.021594,129029425,NaN,0
2,-1.083333e-15,-2.020881e-15,-3.732728e-15,-3.348107e-15,-2.718238e-15,-0.947358,151829363,NaN,0
3,-5.662616e-15,-3.388579e-15,-3.510552e-15,-2.856460e-15,-3.000359e-15,-0.436600,118721995,NaN,0
4,-1.578952e-15,-4.032956e-15,-3.395052e-15,-2.575032e-15,-3.455574e-15,-0.616743,88809154,NaN,0
...,...,...,...,...,...,...,...,...,...
1254,-2.869925e-14,-1.064037e-14,-1.064037e-14,-1.064037e-14,-1.064037e-14,0.031031,47230787,31.034935,0
1255,2.061075e-15,5.042989e-16,5.042989e-16,5.042989e-16,5.042989e-16,-0.559832,86593825,16.963405,0
1256,1.765046e-14,1.765046e-14,1.765046e-14,1.765046e-14,1.765046e-14,-0.461916,72738522,14.932173,1
1257,-4.039352e-14,-4.039352e-14,-4.039352e-14,-4.039352e-14,-4.039352e-14,8.089370,68243838,26.160912,0
1258,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-0.501991,51608580,23.208094,0