In [6]:
from linear_regression import StockLinearRegression
import pandas as pd
import numpy as np
from data_prep import load_data, prep_data

In [7]:
df = load_data()
df = prep_data(df=df)

In [8]:
#testing
stock_linear_regression = StockLinearRegression()

In [9]:
coef_data = stock_linear_regression.create_coef_data(df=df, days = [7,3,9,10])

In [10]:
coef_data

,7_day_linear_regression,3_day_linear_regression,9_day_linear_regression,10_day_linear_regression
0,-2.890940e-15,-1.621528e-15,-3.840604e-15,-3.623568e-15
1,-4.094597e-15,-1.068171e-14,-3.986210e-15,-3.807101e-15
2,-3.732728e-15,-1.083333e-15,-3.348107e-15,-2.879046e-15
3,-3.510552e-15,-5.662616e-15,-2.856460e-15,-2.704934e-15
4,-3.395052e-15,-1.578952e-15,-2.575032e-15,-2.564576e-15
...,...,...,...,...
1254,-1.064037e-14,-2.869925e-14,-1.064037e-14,-1.064037e-14
1255,5.042989e-16,2.061075e-15,5.042989e-16,5.042989e-16
1256,1.765046e-14,1.765046e-14,1.765046e-14,1.765046e-14
1257,-4.039352e-14,-4.039352e-14,-4.039352e-14,-4.039352e-14
1258,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00

In [4]:
three_day_values = stock_linear_regression.creating_n_day_dfs(df=df, n = 3)

In [5]:
three_day_values[0]

        date     open     high      low    close     volume  normalized_value
0 2013-02-08  67.7142  68.4014  66.8928  67.8542  158168416         -0.016545
1 2013-02-11  68.0714  69.2771  67.6071  68.5614  129029425         -0.021594
2 2013-02-12  68.5014  68.9114  66.8205  66.8428  151829363         -0.947358

In [6]:
X= df.date.values.reshape(-1,1)
y = df.close.values

In [7]:
coef_ = stock_linear_regression.linear_regression_coefs(X=X, y=y)

In [8]:
coef_

5.910146877665056e-16

In [9]:
coef_s = []

for df in three_day_values:
    X= df.date.values.reshape(-1,1)
    y = df.close.values
    coef_ = stock_linear_regression.linear_regression_coefs(X=X, y=y)
    coef_s.append(coef_)

In [ ]:
def n_day_linear_regression(n_day_values):
    n_day_coef_s = []
    for df in n_day_values:
        X = df.date.values.reshape(-1,1)
        y = df.close.values
        coef_ = stock_linear_regression.linear_regression_coefs(X=X, y=y)
        coef_s.append(coef_)
    return n_day_coef_s