In [2]:
from linear_regression import StockLinearRegression
import pandas as pd
import numpy as np
from data_prep import DataPrep

In [3]:
data_prep = DataPrep()

In [5]:
df = data_prep.load_raw_data(laptop=False)
df = data_prep.prep_raw_data(df=df)

In [6]:
#testing
stock_linear_regression = StockLinearRegression()

In [11]:
coef_data = stock_linear_regression.create_coef_data(df=df, days = [3,5,7,9,12])

In [12]:
coef_data

,3_day_linear_regression,5_day_linear_regression,7_day_linear_regression,9_day_linear_regression,12_day_linear_regression
0,-1.621528e-15,-2.893278e-15,-2.890940e-15,-3.840604e-15,-3.189469e-15
1,-1.068171e-14,-6.754398e-15,-4.094597e-15,-3.986210e-15,-3.144606e-15
2,-1.083333e-15,-2.020881e-15,-3.732728e-15,-3.348107e-15,-2.718238e-15
3,-5.662616e-15,-3.388579e-15,-3.510552e-15,-2.856460e-15,-3.000359e-15
4,-1.578952e-15,-4.032956e-15,-3.395052e-15,-2.575032e-15,-3.455574e-15
...,...,...,...,...,...
1254,-2.869925e-14,-1.064037e-14,-1.064037e-14,-1.064037e-14,-1.064037e-14
1255,2.061075e-15,5.042989e-16,5.042989e-16,5.042989e-16,5.042989e-16
1256,1.765046e-14,1.765046e-14,1.765046e-14,1.765046e-14,1.765046e-14
1257,-4.039352e-14,-4.039352e-14,-4.039352e-14,-4.039352e-14,-4.039352e-14
1258,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00

In [13]:
training_data = data_prep.prep_training_data(coef_df=coef_data, raw_df=df)

In [14]:
training_data

,3_day_linear_regression,5_day_linear_regression,7_day_linear_regression,9_day_linear_regression,12_day_linear_regression,normalized_value,volume
0,-1.621528e-15,-2.893278e-15,-2.890940e-15,-3.840604e-15,-3.189469e-15,-0.016545,158168416
1,-1.068171e-14,-6.754398e-15,-4.094597e-15,-3.986210e-15,-3.144606e-15,-0.021594,129029425
2,-1.083333e-15,-2.020881e-15,-3.732728e-15,-3.348107e-15,-2.718238e-15,-0.947358,151829363
3,-5.662616e-15,-3.388579e-15,-3.510552e-15,-2.856460e-15,-3.000359e-15,-0.436600,118721995
4,-1.578952e-15,-4.032956e-15,-3.395052e-15,-2.575032e-15,-3.455574e-15,-0.616743,88809154
...,...,...,...,...,...,...,...
1254,-2.869925e-14,-1.064037e-14,-1.064037e-14,-1.064037e-14,-1.064037e-14,0.031031,47230787
1255,2.061075e-15,5.042989e-16,5.042989e-16,5.042989e-16,5.042989e-16,-0.559832,86593825
1256,1.765046e-14,1.765046e-14,1.765046e-14,1.765046e-14,1.765046e-14,-0.461916,72738522
1257,-4.039352e-14,-4.039352e-14,-4.039352e-14,-4.039352e-14,-4.039352e-14,8.089370,68243838
1258,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-0.501991,51608580

In [4]:
three_day_values = stock_linear_regression.creating_n_day_dfs(df=df, n = 3)

In [5]:
three_day_values[0]

        date     open     high      low    close     volume  normalized_value
0 2013-02-08  67.7142  68.4014  66.8928  67.8542  158168416         -0.016545
1 2013-02-11  68.0714  69.2771  67.6071  68.5614  129029425         -0.021594
2 2013-02-12  68.5014  68.9114  66.8205  66.8428  151829363         -0.947358

In [6]:
X= df.date.values.reshape(-1,1)
y = df.close.values

In [7]:
coef_ = stock_linear_regression.linear_regression_coefs(X=X, y=y)

In [8]:
coef_

5.910146877665056e-16

In [9]:
coef_s = []

for df in three_day_values:
    X= df.date.values.reshape(-1,1)
    y = df.close.values
    coef_ = stock_linear_regression.linear_regression_coefs(X=X, y=y)
    coef_s.append(coef_)

In [ ]:
def n_day_linear_regression(n_day_values):
    n_day_coef_s = []
    for df in n_day_values:
        X = df.date.values.reshape(-1,1)
        y = df.close.values
        coef_ = stock_linear_regression.linear_regression_coefs(X=X, y=y)
        coef_s.append(coef_)
    return n_day_coef_s