In [2]:
import numpy as np
import pandas as pd

In [3]:
data_fp = "C:/Users/Eric/Documents/ml-stock-trading/data/archive/indexProcessed.csv"
df = pd.read_csv(data_fp)

In [4]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume,CloseUSD
count,104224.000000,104224.000000,104224.000000,104224.000000,104224.000000,1.042240e+05,104224.000000
mean,8015.353334,8063.324234,7962.581120,8014.366642,8014.161269,1.347646e+09,3046.729177
std,9140.563404,9196.575802,9082.767802,9140.609758,9140.720456,4.427662e+09,3747.865623
min,54.869999,54.869999,54.869999,54.869999,54.869999,0.000000e+00,10.204900
25%,2046.887756,2057.213990,2037.185943,2047.506470,2047.358490,0.000000e+00,320.460898
50%,5772.140137,5812.764892,5725.199951,5773.710205,5773.710205,9.529000e+05,1371.598486
75%,10487.377445,10552.179690,10416.092287,10488.622560,10488.622560,2.064676e+08,4383.045241
max,68775.062500,69403.750000,68516.992190,68775.062500,68775.062500,9.440374e+10,18934.376173

In [8]:
df['Index']

0         False
1         False
2         False
3         False
4         False
          ...
104219    False
104220    False
104221    False
104222    False
104223    False
Name: Index, Length: 104224, dtype: bool